/* Website Color Scheme Variables */
/* line 1, ../compass/sass/_header.scss */
.name {
  color: #fff;
}

/* line 1, ../compass/sass/_navbar.scss */
.navbar {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  height: 80px;
}

/* line 8, ../compass/sass/_navbar.scss */
.nav-links {
  line-height: 20px;
  font-size: 18px;
  vertical-align: middle;
  text-align: right;
  margin-right: 70px;
}
/* line 15, ../compass/sass/_navbar.scss */
.nav-links a {
  color: #fff;
}
/* line 19, ../compass/sass/_navbar.scss */
.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 30px 25px;
}
/* line 25, ../compass/sass/_navbar.scss */
.nav-links li:hover {
  text-decoration: none;
}

/* line 6, ../compass/sass/_footer.scss */
.main {
  background: blue;
}
/* line 8, ../compass/sass/_footer.scss */
.main li {
  font-size: 1px;
}

/* line 13, ../compass/sass/_footer.scss */
.container {
  font-size: 14px;
}
/* line 15, ../compass/sass/_footer.scss */
.container li {
  list-style: none;
  font-size: 15px;
}
/* line 18, ../compass/sass/_footer.scss */
.container li a {
  text-decoration: none;
}

/* line 6, ../compass/sass/styles.scss */
body {
  background: url("../images/xfitgrips.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 13, ../compass/sass/styles.scss */
body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: .6;
}

/* line 25, ../compass/sass/styles.scss */
h1 {
  color: #226078;
}
